.App {
  text-align: center;
}




.App-header {
  background-color: #000000;
  min-height: 100vh;
  color: white;
}





.item{
  width: 100%;
  background-color: white;



}
.item_container{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
padding-left:200px;
padding-right: 200px;
}

.contenu_container{
  width: 400px;
}
 /* ------------- */
.imgposition{
  padding-top: 80px;
  position-area: center;
}


.titre{
  color: black;
  font-size: 20px;
}

.contenu{
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
 margin:20px 0px;
}


.skills__container{
  width: 250px;
  text-align: left;
  padding: 20px;
}

.soustitre ,.span_skills{
  font-size: 15px;
  font-style: italic;
  margin: 5px;
}
p.description{
  font-size: 15px;
  margin: 5px;
}

p.titre{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
}

.span_skills{
  font-size: 15px;

}


/* section trois  */
.space-holder {
  width: 100%;
  background: transparent;
}

.horizontal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sticky {
  position: relative;
  display: flex;
  gap: 30px;
  min-width: 100vw;
}


/* ---------------- Cards--------------- */

.projectName {
  overflow: clip;

  width: 100%;



  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  fill: var(--light);
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  }



/* --------- section 7---------- */
.colorred{
  color: #C00303;
}